@model List<Project>
@{
    ViewData["Title"] = "Projelerim";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<table class="table table-hover table-bordered">
    <tr>
        <th>Görsel</th>
        <th>Proje Adı</th>
        <th>Proje Açıklaması</th>
        <th>Github Linki</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var project in Model)
    {
        <tr>
            <td>
                <img src="@project.ImageUrl" style="width: 50px; height: 50px;" />
            </td>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td><a href="@project.GitHubUrl" target="_blank" class="btn btn-outline-dark">Github Url</a></td>
            <td>
                <a href="#" class="btn btn-outline-danger">Sil</a>
                <a href="/Project/UpdateProject/@project.Id" class="btn btn-outline-info">Düzenle</a>
            </td>
        </tr>
    }
</table>

<a href="/Project/CreateProject" class="btn btn-outline-dark">Yeni Proje Oluştur</a>